html
  head
    title hello
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    <!-- JavaScript and stylesheets from your assets folder are included here -->
    !{assets.css()}
    !{assets.js()}
  body
    !{body}
    <!-- Templates from your view path are included here -->
    !{assets.templateLibrary()}

