form(action="/login", method="POST")
  div
    label Username:
    input(type="text", name="username")
    br
  div
    label Password: 
    input(type="password", name="password")
  input(type="submit", value="Submit")
p
  small
    Hint - no password
